body {
    font-family: arial, helvetica,sans-serif;
    background-color: #0058a8;
    margin: 0px;
    padding: 5px 0px;
}

.navbar {
    color: red;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

a navbar-brand {
    font-size: 20px;
    color: green;
}

.navbar .navbar-nav>li>a {
    padding: 8px 4px;
}

h1 {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1px;
}

h2 {
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h3 {
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

p {
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
}

.company-name {
    color: #ffff00;
    font-size: 32px;
}

.company-name-aft {
    font-size: 16px;
}

.house-logo {
    width: 200px;
    height: 160px;
}

.container .jumbotron {
    Padding: 0;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

/** ---- dropdown menu background color------- **/
.navbar-nav>li>.dropdown-menu {
    background-color: #0077e6;
}

/** ---- dropdown text color------- **/
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}

/** ---- dropdown text color------- **/
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #060000;
    background-color: transparent;
}

#logo {
    max-height: 42px;
    margin-right: 10px;
    margin-top: -3px;
    display: inline-block;
}

.phone-button {
    width: 100%;
    text-align: center;
}

#promo {
    text-align: center;
    padding: 40px;
    background: url(../../assets/img/up-on-roof.jpg) no-repeat;
    background-size: cover;
    margin-top: 65px;
}

@media (max-width: 991px) {
    #promo {
        padding: 20px;
    }
}

#promo .jumbotron {
    border-radius: 20px;
    padding: 40px;
    background-color: rgba(255,255,255,0.75);
    max-width: 800px;
    margin: auto;
}

@media (max-width: 991px) {
    #promo .jumbotron {
        padding: 20px;
    }
}

.dark-section {
    background-color: #d7e1f4;
}

/** ---------Carousel Image Size Adjustment------- **/
.cara {
    margin-bottom: 0px;
}

.carousel-inner .item img {
    background-color: #0058a8;
    width: 470px;
    height: 280px;
}

@media (max-width: 600px) {
    .carousel-inner .item img {
        background-color: #0058a8;
        width: 190px;
        height: 130px;
    }

    /** ---- dropdown text color-------    
.navbar-brand {
    
    display: none;
    }
    
}

**/
    /** ---- End Carousel Image Size Adjustment------- **/
    .container .two-image img {
        background-color: 0058a8;
        width: 440px;
        height: 320px;
    }

    .dropdown-menu .li a {
        background-color: #e60000;
    }

    .site-section {
        padding-bottom: 70px;
        position: fixed;
        text-align: left;
        font-style: normal;
    }

    .site-section h1 {
        font-weight: normal;
        margin-bottom: 30PX;
        margin-top: 60px;
    }

    #WELCOME p {
        max-width: 800PX;
        font-size: 20PX;
        margin: 0 AUTO;
        color: #666;
    }

    .services-wrapper img {
        width: 440px;
        height: 250px;
    }

    #why .item {
        padding-top: 38px;
    }

    #why .item i {
        font-size: 42px;
        color: rgb(78,7,67);
    }

    #why .item h2 {
        font-weight: normal;
        margin-top: 13px;
        margin-bottom: 20px;
        font-size: 24px;
    }

    #why .item p {
        color: #696e78;
    }

    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #333333;
        background-color: #257e5b;
        border-color: transparent;
    }
}